* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/053/405/777/large/arka-nag-chowdhury-render-2-final.jpg?1662122687');
  background-size: cover;
  width: 100%;
}

header {
  background-color: rgb(0, 151, 219);
  display: flex;
  align-items: center;
  padding: 10px 70px;
}

header > img {
  width: 80px;
}

header > form {
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  width: 730px;
  display: flex;
  align-items: center;
}

header > form > input {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 24px;
  flex-grow: 1;
  color: rgb(0, 151, 219);
}

header > form > input:focus {
  outline: none;
}

header > form > input::placeholder {
  color: lightgray;
}

header > form > button {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 30px;
  cursor: pointer;
  border-left: 1px solid rgb(190, 190, 190);
}

.material-icons {
  color: rgb(0, 151, 219);
}

ul {
  list-style: none;
  display: flex;
  padding: 70px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.city {
  width: 370px;
  height: 370px;
  border: 1px solid rgb(0, 176, 255);
  border-bottom: none;
  box-shadow: inset 49.8px -49.8px 49.8px rgba(0, 134, 194, 0.1),
    inset -49.8px 49.8px 49.8px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-flow: column;
  background: rgba(0, 176, 255, 0.3);
  backdrop-filter: blur(10.27px);
}

.city-name {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
}

.city-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid rgb(0, 176, 255);
}

.city-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  flex-grow: 1;
}

.city-temp-container {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.city-temp {
  font-weight: 700;
  font-size: 14px;
}

.city-forecast-button {
  border: none;
  background: rgb(0, 176, 255);
  border-radius: 0 0 20px 20px;
  width: 100%;
  height: 50px;
  font-weight: 900;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.city-forecast-button:hover {
  background: rgb(0, 151, 219);
}

.forecast-container {
  position: absolute;
  box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  border: 1px solid rgb(0, 176, 255);
  border-radius: 20px;
  background: rgba(0, 176, 255, 0.5);
  backdrop-filter: blur(57.27px);
  width: 90%;
}

.forecast-container > button {
  position: absolute;
  background: none;
  right: 5px;
  top: 5px;
  border: none;
  cursor: pointer;
}

.forecast-container > button > i {
  color: rgb(255, 185, 0);
  font-weight: 900;
  font-size: 30px;
}

.forecast-container > button:hover > i {
  color: rgb(255, 153, 0);
}

.weekdays {
  display: flex;
  gap: 25px;
  padding: 30px 20px 15px;
}

.hidden {
  display: none;
}

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 180px; /* Ajuste da largura */
  height: 180px;
}

.forecast-weekday {
  font-weight: 700;
  font-size: 24px;
}

.forecast-icon {
  width: 80px;
}

.forecast-middle-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.forecast-temp-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.forecast-temp-container > * {
  flex-basis: 50%;
}

.forecast-condition {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.max {
  font-weight: 800;
  font-size: 12px;

}

.min {
  font-weight: 700;
  font-size: 12px;
  color: rgb(206, 226, 245);
}
